@media screen and (max-width: 501px) {
    h1 {
        font-size: 30px;
    }
    header {
        align-content: center;
    }
    .container {
        width: 80%;
    }
    .container__logo {
        width: 100%;
        position: absolute;
    }
    .header__menu {
        width: 100%;
        justify-content: center;
    }
    .header__menu .nav__menu {
        display: none;
    }
    .container__title {
        align-content: center;
    }
    .container__title p {
        font-size: 11px;
    }
    .container__city {
        grid-template-columns: 1fr;
    }
    .container__image {
        width: 100%;
    }
    .container__image img {
        width: inherit;
    }
    .container__text {
        text-align: center;
    }
    .container__text h2 {
        margin-top: 20px;
        font-size: 40px;
    }
    .destination__places {
        grid-template-columns: 1fr;
    }
    .destintation__places_ {
        grid-template-columns: 100%;
    }
    .destination__bigImage {
        width: 100%;
        margin-bottom: 15px;
    }
    .destination__text {
        text-align: center;
    }
    .destination__bigImage img {
        width: 100%;
    }
    .destintation__places_ .destination__places__small {
        grid-template-columns: 1fr;
    }
    .footer__information__up {
        grid-template-columns: 100%;
    }
    .text__title {
        text-align: center;
    }
    .text__title h1 {
        font-size: 20px;
    }
    .footer__information__up .text__subscribe input {
        margin-top: 10px;
        width: 100%;
    }
    .footer__information__up .text__subscribe button {
        margin-top: 10px;
    }
    #mount {
        margin-left: 20px;
    }

    /* mobil */
    .container__mobil {
        position: fixed;
        width: 100%;
        background: #fff;
        height: 0vh;
        z-index: 3;
    }
    .mobil__menu_button {
        position: fixed;
        top: 5%;
        right: 7%;
        z-index: 4;
        background: none;
        border: none;
    }
    .mobil__menu_button div {
        width: 25px;
        height: 4px;
        background: #000;
        margin: 3px 0;
    }
}